@model Usuario
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> </h1>


<div class="row mt-5" >
    <div class="col-sm-4 offset-sm-4">

        <form asp-controller="Acceso" asp-Action="Index" method="post" style="background-color: #D6BFA2 ; color: white ; border-radius: 10px">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" style="ali">Email </label>
                <input type="email" class="form-control" asp-for="Correo">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" asp-for="Clave">
            </div>


            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>

    </div>


</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<center> <img src="~/lib/C.png" img-fluid rounded-start" alt="CB" style="height: 110px; width:220px"> </center>