
@{
    ViewData["Title"] = "Institucion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color: white ">Institucion</h1>


<div id="#Mycarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
     
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" id="img" src="~/lib/Teatro.jpeg" style="width: 300px; height: 300px;" alt="First slide">
        </div>
</div>
</div>






<div class="container" style="background-color: white; display: flex; width: 1000px">
    <div id="i-do">
        <ul>
            <li>
                <h1 style="text-align:center"> HISTORIA</h1>
                <p class="text-center" style="color: black ;     font-family: serif;">
                        <br> <br> Carlos Luis Velez , dio inicio en 1934 al Concurso de Belleza® . <br>
                        En ese año comenzó el evento que ha congregado a las costarricenses <br>
                        durante ocho décadas en torno a la belleza de la mujer, y ha unido<br> 
                        en cada versión a las diferentes ciudades del país en un solo escenario.
                    <br>

                        La audiencia del Teatro Nacional, lugar del certamen, <br>
                        vio coronar en 1934 a la primera Señorita Costa Rica, Sofia Gomez .  <br>
                        Esta costarricense de 19 años portó la corona hasta 1947, <br> 
                        pues la Segunda Guerra Mundial impidió la otra candidata.<br> 
                        Dos años después se hace la primera transmisión televisada del <br> 
                        Concurso Nacional de Belleza® y en 1980 se hace la primera <br> 
                        trasmisión a color gracias a la programadora Televisora de Costa Rica.



                
                </p>
            </li>
           
        </ul>
    </div>




    <div id="love-do">
       
        <ul>
            <li> <br> <br>  <img src="~/lib/Historia.png" img-fluid rounded-start" alt="CB" style="height: 310px; width:420px ; float: right"> </li>
          
        </ul>
    </div>
</div>


<br>
<br>
<br>

<h1 style="color: white ; text-align: center "> ¿QUÉ NOS MUEVE?  ¿EN QUÉ CREEMOS?</h1>

<center>
    <div style="color: white; background-color: #b99366; width: 500px">

        <p class="text-center" style="    font-family: serif;">
            Creemos que ser bellas es mucho más que lucir bien en las pasarelas.<br>
            Creemos que la admiración de la gente  se gana por ser íntegras y sinceras.<br>
            Creemos que la belleza se expresa en cada gesto de hija, compañera, madre, amiga, hermana y ciudadana.<br>
            Creemos que belleza es el brillo en la mirada de los colombianos que se esfuerzan en lo que hacen.<br>

            CREEMOS QUE BELLEZA ES MÁS.
            Y sobre todo, creemos que toda mujer íntegra y sincera puede inspirar al país entero a mejorar y representar dignamente al país en el extranjero.

        </p>
    </div>
</center>


<div class="container" style="background-color: white; display: flex; width: 1000px">
    <div id="i-do">
        <ul>
            <li>
                <h1 > ¿PARA QUE UNA REINA?</h1>
                <p class="text-center" style="color: black ;     font-family: serif;">
                    <br>
                    Cuando se elige a la Señorita, se reconocen en ella, no solo su belleza <br>
                    y actitudes memorables,también, su conocimiento y sensibilidad a la situación actual del país, 
                    los valores de toda una nación representados en su integralidad y en su disposición para vincularse
                    y comprometerse con la misión social del concurso.<br><br>

                    Cada soberana deberá reflejar su sentido de colaboración y responsabilidad social,
                    su capacidad de servicionpara liderar causas sociales y actividades que promuevan 
                    la solidaridad y la construcción del país.




                </p>
            </li>

        </ul>
    </div>




    <div id="love-do">

        <ul>
            <li> <br>  <img src="~/lib/Reinas.jpeg" img-fluid rounded-start" alt="CB" style="height: 310px; width:420px ; float: right"> </li>

        </ul>
    </div>
</div>

