html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #B4C4B4;
    color: burlywood;
    font-family: serif;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #b99366;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(255, 255, 255),rgb(255, 255, 255));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(185, 147,102 ), rgb(255,191,191));
}

.column {
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    width: 110px;
    padding: 10px;
    height: 75px; /* Should be removed. Only for demonstration */
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

form {
    width: 400px;
  
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 1px;
    font-size: 14px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

    input[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
            background-color: pink;
        }

    input[type="reset"] {
        background-color: red;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="reset"]:hover {
        background-color: pink;
    }

    button[type="submit"]:hover {
        background-color: pink;
    }

button[type="submit"] {
    cursor: pointer;
}

.hearts {
    display: table;
    width: auto;
    margin: 0 auto;
}

    .hearts li {
        margin: 0 10px;
        display: inline-block;
        width: auto;
        height: 17px;
        transition: 0.2s all linear;
        opacity: 0.5
    }

        .hearts li:hover {
            opacity: 1;
        }

            .hearts li:hover .icon {
                background-position: -20px -84px;
            }

            .hearts li:hover .count {
                color: #B20000
            }

  